doctype html
html(lang="en")
  head
    title Yein Yi
    link(rel="stylesheet" href= 'css/reset.css')
    link(rel="stylesheet" href= 'css/style.css')
    script(src= 'intersection-observer.js')
      
  body
    .paintings
      .painting(id='hola' data-src="img/painting-1.jpg")
        .background-cover
      .painting(data-src="img/painting-2.jpg")
        .background-cover
      .painting(data-src="img/painting-3.jpg")
        .background-cover
      .painting(data-src="img/painting-4.jpg")
        .background-cover
      .painting(data-src="img/painting-5.jpg")
        .background-cover
      .painting(data-src="img/painting-6.jpg")
        .background-cover
      .painting(data-src="img/painting-7.jpg")
        .background-cover
      .painting(data-src="img/painting-8.jpg")
        .background-cover
      .painting(data-src="img/painting-9.jpg")
        .background-cover
      .painting(data-src="img/painting-10.jpg")
        .background-cover
      .painting(data-src="img/painting-11.jpg")
        .background-cover
      .painting(data-src="img/painting-12.jpg")
        .background-cover
      .painting(data-src="img/painting-13.jpg")
        .background-cover
      .painting(data-src="img/painting-14.jpg")
        .background-cover
      .painting(data-src="img/painting-15.jpg")
        .background-cover
      .painting(data-src="img/painting-16.jpg")
        .background-cover
      
      
    
    
  script(src= 'animations.js')
